<%= render partial: 'contour/layouts/per_page', locals: { type: 'assessments', per_page: 20 } %>

<table class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'assessments.result_id', 'Result', 'assessments_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'assessments.assessment_type', 'Assessment Type', 'assessments_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'assessments.deleted', 'Deleted', 'assessments_search') %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @assessments.each do |assessment| %>
    <tr>
      <td><%= link_to assessment.result.name, assessment.result if assessment.result %></td>
      <td><%= assessment.assessment_type %></td>
      <td><%= assessment.deleted %></td>
      <td>
        <%= link_to 'Edit', edit_assessment_path(assessment), class: 'btn btn-mini' %>
        <%= link_to 'Delete', assessment, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Assessment #{assessment.name}?" } %>
      </td>
    </tr>
  <% end %>
</table>

<div class="center"><%= paginate @assessments, theme: 'contour' %></div>
