<table class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th><%== sort_field_helper(@order, 'assessments.result_id', 'Result') %></th>
      <th><%== sort_field_helper(@order, 'assessments.assessment_type', 'Assessment Type') %></th>
      <th><%== sort_field_helper(@order, 'assessments.deleted', 'Deleted') %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @assessments.each do |assessment| %>
    <tr>
      <td><%= link_to assessment.result.name, assessment.result if assessment.result %></td>
      <td><%= assessment.assessment_type %></td>
      <td><%= assessment.deleted %></td>
      <td>
        <%= link_to 'Edit', edit_assessment_path(assessment), class: 'btn btn-xs' %>
        <%= link_to 'Delete', assessment, method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: "Are you sure you want to delete Assessment #{assessment.name}?" } %>
      </td>
    </tr>
  <% end %>
</table>

<div class="center"><%= paginate @assessments, theme: 'contour' %></div>
