<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_for @study_type, html: { class: 'form-horizontal' } do |f| %>
  <% if @study_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@study_type.errors.count, "error") %> prohibited this study_type from being saved:</h2>

      <ul>
      <% @study_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, rows: 7, style: 'width:95%' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Create Study Type", class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>
