<%= render partial: 'layouts/per_page', locals: { object: 'study_types', per_page: 20 } %>

<table class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th><%== sort_field_helper(params[:order], 'name', 'Name', 'study_types_search') %></th>
      <th><%== sort_field_helper(params[:order], 'description', 'Description', 'study_types_search') %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @study_types.each do |study_type| %>
    <tr>
      <td><%= study_type.name %></td>
      <td><%= study_type.description %></td>
      <td>
        <%= link_to 'Edit', edit_study_type_path(study_type), class: 'btn btn-mini' %>
        <%= link_to 'Delete', study_type, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Study Type #{study_type.name}?" } %>
      </td>
    </tr>
  <% end %>
</table>

<div class="center"><%= paginate @study_types, theme: 'contour' %></div>
