<div class="page-header">
  <h1><%= title %></h1>
</div>

<%= form_for @group, html: { class: 'form-horizontal', role: 'form'  } do |f| %>
  <%= display_errors @group %>
  <%= render :partial => "partials/project_field", :locals => {f: f, editable: @group.new_record?, object_name: "group", target_path: new_group_path } %>

  <% if @group.project.present? %>
    <div class="form-group">
      <%= f.label :name, nil, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :description, nil, class: 'control-label' %>
      <div class="controls">
        <%= f.text_area :description %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :study_ids, "Studies", class: 'control-label' %>
      <div class="controls">
        <%= f.collection_select :study_ids, @group.project.studies.order(:location), :id, :long_name, {}, {multiple:true, rel: :chosen} %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= cancel %>
    </div>
  <% end %>
<% end %>
