<%= render partial: 'layouts/per_page', locals: { object: 'groups', per_page: 20 } %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= sort_field_helper(params[:order], 'name', 'Name', 'groups_search') %></th>
      <th><%= sort_field_helper(params[:order], 'description', 'Description', 'groups_search') %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @groups.each do |group| %>
    <tr>
      <td><%= group.name %></td>
      <td><%= group.description %></td>
      <td>
        <%= link_to 'Edit', edit_group_path(group), class: 'btn btn-mini' %>
        <%= link_to 'Delete', group, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Group #{group.name}?" } %>
      </td>
    </tr>
  <% end %>
</table>

<div class="center"><%= paginate @groups, theme: 'contour' %></div>
