<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_for(@user, html: { role: 'form', class: 'form-horizontal' }) do |f| %>
    <%= display_errors @user %>

    <div class="form-group">
      <%= f.label :first_name, class: "control-label col-sm-2" %>
      <div class='col-sm-10'>
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :last_name, class: 'control-label col-sm-2' %>
      <div class='col-sm-10'>
        <%= f.text_field :last_name, class: "form-control"  %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :status, nil, class: 'control-label col-sm-2' %>
      <div class='col-sm-3'>
        <%= f.select :status, User::STATUS, {}, { class: 'form-control', rel: 'chosen' } %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, class: 'control-label col-sm-2' %>
      <div class='col-sm-10'>
        <%= f.text_field :email, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :system_admin, nil, class: 'control-label col-sm-2' %>
      <div class='col-sm-10'>
        <%= f.check_box :system_admin %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit (@user.new_record? ? "Create User" : "Update User"), class: 'btn btn-primary' %>
      <%= cancel %>
    </div>
<% end %>
