<div class="well well-mini">
  <h3>Original Result for Rule <%= result.rule.title %></h3>
  <%= fields_for result do |f| %>
    <%= f.hidden_field :reliability_id, value: result.reliability_id.id if result.reliability_id %>
    <%= f.hidden_field :study_original_result_id, value: result.study_original_result.id if result.study_original_result %>
    <%= f.hidden_field :study_id, value: result.study.id if result.study %>
    <%= f.hidden_field :rule_id, value: result.rule.id if result.rule %>

    <%= f.label :location, "Result Location" %>
    <%= f.text_field :location %>
    <h4>Questionnaire:</h4>
    <%= render :partial => "assessments/questionnaire", :locals => { :assessment_type => result.rule.assessment_type, :assessment => result.assessment } %>

  <% end %>
  <%= link_to "#" %>
</div>