<%= render :partial => "reliability_id_info" %>

<%= form_for @result, html: { class: 'form-horizontal' } do |f| %>
  <%= display_errors @result %>

  <fieldset>
    <legend>Result Information</legend>

    <%= f.hidden_field :reliability_id, value: @result.reliability_id.id %>

    <div class="control-group">
      <%= f.label :location, nil, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :location %>
      </div>
    </div>

    <%= f.fields_for :assets do |asset_f| %>
      <div class="control-group">
        <%= asset_f.label :asset, nil, class: 'control-label' %>
        <div class="controls">
          <p>HIIII</p>
          <%= asset_f.file_field :asset %>
        </div>
      </div>
    <% end %>
  </fieldset>
  <fieldset>
    <legend>Result Assessment Questionnaire</legend>

    <%= render :partial => "assessments/questionnaire", :locals => { :assessment_type => @result.reliability_id.exercise.rule.assessment_type, :assessment => @result.assessment } %>

  </fieldset>

  <div class="form-actions">
    <%= f.submit "#{@result.persisted? ? "Update" : "Add"} Result", class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>
