<%= render :partial => "reliability_id_info" %>

<div class="row" id="result_row">
  <%= form_for @result, html: { class: 'form-horizontal, span5', multipart: true, id: 'result_form' } do |f| %>
    <div class="field-space" data-current-upload="true">
      <span id="asset_id_template"><%= hidden_field_tag "result[asset_ids][]", "", class: "asset_ids" %></span>
      <% @result.assets.each do |asset| %>
        <%= hidden_field_tag "result[asset_ids][]", asset.id, class: "asset_ids" %>
      <% end %>

      <%= display_errors @result %>

      <fieldset>
        <legend>Result Information</legend>

        <%= f.hidden_field :reliability_id, value: @result.reliability_id.id %>


        <div class="control-group">
          <%= f.label :location, nil, class: 'control-label' %>
          <div class="controls">
            <%= f.text_field :location %>
          </div>
        </div>


      </fieldset>

      <fieldset>
        <legend>Result Assessment Questionnaire</legend>
        <%= render partial: "assessments/questionnaire", locals: { assessment_type: @result.reliability_id.exercise.rule.assessment_type, assessment: @result.assessment } %>

      </fieldset>
    </div>
  <% end %>
  <%= render partial: "assets/form", locals: {result: @result} %>
  <div class='form_buttons'>
    <button class="btn btn-primary" id="submit"><%= "#{@result.persisted? ? "Update" : "Add"} Result" %></button>
    <%= cancel %>
  </div>
</div>
