<%= render :partial => "reliability_id_info" %>


<div class="row" id="result_row">
  <div id="upload_result_id" data-result-id="<%= @result.id %>"></div>
  <%= form_for @result, html: { class: 'form-horizontal, span5', multipart: true, id: 'result_form' } do |f| %>
    <%= display_errors @result %>

    <fieldset>
      <legend>Result Information</legend>

      <%= f.hidden_field :reliability_id, value: @result.reliability_id.id %>

      <div class="control-group">
        <%= f.label :location, nil, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :location %>
        </div>
      </div>


    </fieldset>

    <fieldset>
      <legend>Result Assessment Questionnaire</legend>

      <%= render partial: "assessments/questionnaire", locals: { assessment_type: @result.reliability_id.exercise.rule.assessment_type, assessment: @result.assessment } %>

    </fieldset>

    <div class="form-actions span12">
      <%= f.submit "#{@result.persisted? ? "Update" : "Add"} Result", class: 'btn btn-primary' %>
      <%= cancel %>
    </div>
  <% end %>
  <%= render partial: "assets/form" %>
</div>
