<div class="page-header">
  <h1>Result for Study <%= @reliability_id.unique_id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Study Type</dt>
  <dd><%= link_to @reliability_id.study.study_type.name, @reliability_id.study.study_type if @reliability_id.study.study_type %></dd>

  <dt>Study Location</dt>
  <dd><%= @reliability_id.study.location %></dd>

  <dt>Scoring Rule</dt>
  <dd>
    <h5><%= @reliability_id.exercise.rule.title %></h5>
    <p><%= @reliability_id.exercise.rule.procedure %></p>
  </dd>
</dl>

<%= form_for @result, html: { class: 'form-horizontal' } do |f| %>
  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend>Result Information</legend>
      <%= f.hidden_field :user_id, value: current_user.id %>

      <%= f.hidden_field :study_id, value: @reliability_id.study.id %>

      <%= f.hidden_field :exercise_id, value: @reliability_id.exercise.id %>

      <%= f.hidden_field :type, value: "rescored" %>

      <%= f.hidden_field :rule_id, value: @reliability_id.exercise.rule.id %>

      <div class="control-group">
        <%= f.label :result_type, nil, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :result_type %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :location, nil, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :location %>
        </div>
      </div>
  </fieldset>
  <fieldset>
    <legend>Result Assessment Questionnaire</legend>

    <%= render :partial => "assessments/questionnaire", :locals => { :assessment_type => @reliability_id.exercise.assessment_type } %>

  </fieldset>

    <div class="form-actions">
    <%= f.submit "Add Result", class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>
