<h1>Listing results</h1>

<table>
  <tr>
    <th>User</th>
    <th>Study</th>
    <th>Exercise</th>
    <th>Rule</th>
    <th>Assessment</th>
    <th>Type</th>
    <th>Location</th>
    <th>Deleted</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @results.each do |result| %>
  <tr>
    <td><%= result.user_id %></td>
    <td><%= result.study_id %></td>
    <td><%= result.exercise_id %></td>
    <td><%= result.rule_id %></td>
    <td><%= result.assessment_id %></td>
    <td><%= result.type %></td>
    <td><%= result.location %></td>
    <td><%= result.deleted %></td>
    <td><%= link_to 'Show', result %></td>
    <td><%= link_to 'Edit', edit_result_path(result) %></td>
    <td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Result', new_result_path %>
