<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_for @study, html: { class: 'form-horizontal' } do |f| %>
  <% if @study.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@study.errors.count, "error") %> prohibited this study from being saved:</h2>

      <ul>
      <% @study.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :original_id, "Original ID", class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :original_id %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :study_type_id, "Study Type", class: 'control-label' %>
    <div class="controls">
      <%= f.select :study_type_id, [['---', nil]] + StudyType.current.collect{|s| [s.name, s.id]}, {}, {rel: :chosen} %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :location, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :location %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>
