<%= render partial: 'contour/layouts/per_page', locals: { type: 'studies', per_page: 20 } %>

<table class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'studies.original_id', 'Original', 'studies_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'studies.study_type_id', 'Study Type', 'studies_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'studies.location', 'Location', 'studies_search') %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @studies.each do |study| %>
    <tr>
      <td><%= study.original_id %></td>
      <td><%= link_to study.study_type.name, study.study_type if study.study_type %></td>
      <td><%= study.location %></td>
      <td>
        <%= link_to 'Edit', edit_study_path(study), class: 'btn btn-mini' %>
        <%= link_to 'Delete', study, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Study #{study.name}?" } %>
      </td>
    </tr>
  <% end %>
</table>

<center><%= paginate @studies %></center>
