<% @title = 'Studies' %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%= link_to "Create Study", new_study_path, class: 'btn btn-mini btn-primary' %>
  </h1>
</div>

<%= form_tag studies_path, method: :get, remote: true, id: "studies_search", class: 'form-search', data: { object: 'form-load' } do %>
  <%= hidden_field_tag :order %>
  <%= text_field_tag 'search', params[:search], class: 'search-query' %>
  <%= submit_tag 'Search', class: 'btn btn-primary' %>
<% end %>

<div id="studies"><div class="center"><%= image_tag "contour/ajax-loader.gif" %></div></div>

