<% @title = "Study: #{@study.name}" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%= link_to "Edit Study", edit_study_path(@study), class: 'btn btn-mini' %>
    <%= link_to "Delete Study", @study, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Study #{@study.name}?" } %>
    <%= link_to "View Studies", studies_path, class: 'btn btn-mini' %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Original ID</dt>
  <dd><%= @study.original_id %></dd>

  <dt>Study Type</dt>
  <dd><%= link_to @study.study_type.name, @study.study_type if @study.study_type %></dd>

  <dt>Location</dt>
  <dd><%= @study.location %></dd>

  <dt>Deleted</dt>
  <dd><%= @study.deleted %></dd>

</dl>
