<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_for @project, html: { class: '', role: 'form'  } do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-7">
      <fieldset class="form-horizontal">
        <div class="form-group">
          <%= f.label :name, nil, class: "control-label col-sm-2" %>
          <div class="col-sm-10"><%= f.text_field :name, class: "form-control"  %></div>
        </div>

        <div class="form-group">
          <%= f.label :description, nil, class: 'control-label col-sm-2' %>
          <div class="col-sm-10"><%= f.text_area :description, class: "form-control" %></div>
        </div>

        <div class="form-group">
          <%= f.label :start_date, "Start Date", class: 'control-label col-sm-2' %>
          <div class="col-sm-10"><%= f.text_field :start_date, class: 'datepicker form-control', value: @project.start_date ? @project.start_date.strftime('%m/%d/%Y') : '' %></div>
        </div>

        <div class="form-group">
          <%= f.label :end_date, "End Date", class: 'control-label col-sm-2' %>
          <div class="col-sm-10"><%= f.text_field :end_date, class: 'datepicker form-control', value: @project.end_date ? @project.end_date.strftime('%m/%d/%Y') : '' %></div>
        </div>
      </fieldset>
    </div>
    <div class="col-md-5">
      <fieldset>
        <div class="form-group">
          <%= f.label :manager_ids, "Managers" %>
          <div class="clearfix"></div>
          <%= f.collection_select :manager_ids, User.current.order(:last_name), :id, :name, {}, {multiple:true, rel: :chosen, class: "form-control clearfix" } %>
        </div>

        <div class="form-group">
          <%= f.label :scorer_ids, "Scorers"%>
          <div class="clearfix"></div>
          <%= f.collection_select :scorer_ids, User.current.order(:last_name), :id, :name, {}, {multiple:true, rel: :chosen, class: "form-control" } %>
        </div>
      </fieldset>
    </div>
  </div>





  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>
