<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_for @project, html: { class: 'form-horizontal' } do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, rows: 7, style: 'width:95%' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :start_date, "Start Date", class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :start_date, class: 'datepicker', value: @project.start_date ? @project.start_date.strftime('%m/%d/%Y') : '' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :end_date, "End Date", class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :end_date, class: 'datepicker', value: @project.end_date ? @project.end_date.strftime('%m/%d/%Y') : '' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :manager_ids, "Managers", class: 'control-label' %><br/>
    <div class="controls">
      <%= f.collection_select :manager_ids, User.current.order(:last_name), :id, :name, {}, {multiple:true, rel: :chosen} %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :scorer_ids, "Scorers", class: 'control-label' %><br/>
    <div class="controls">
      <%= f.collection_select :scorer_ids, User.current.order(:last_name), :id, :name, {}, {multiple:true, rel: :chosen} %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>
