<% @title = "Project: #{@project.name}" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%= link_to "Edit Project", edit_project_path(@project), class: 'btn btn-xs' %>
    <%= link_to "Delete Project", @project, :data => { :confirm => "Are you sure you want to delete Project #{@project.name}?" }, method: :delete, class: 'btn btn-xs btn-danger' %>
    <%= link_to "View Projects", projects_path, class: 'btn btn-xs' %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @project.name %></dd>

  <dt>Description</dt>
  <dd><%= simple_format @project.description %></dd>

  <dt>Start Date</dt>
  <dd><%= @project.start_date.strftime("%m/%d/%Y") if @project.start_date %></dd>

  <dt>End Date</dt>
  <dd><%= @project.end_date.strftime("%m/%d/%Y") if @project.end_date %></dd>

  <dt>Managers</dt>
  <dd>
    <ul id="managers">
      <% @project.managers.each do |manager| %>
        <li><%= manager.name %></li>
      <% end %>
    </ul>
  </dd>

  <dt>Scorers</dt>
  <dd>
    <ul id="scorers">
      <% @project.scorers.each do |scorer| %>
        <li><%= scorer.name %></li>
      <% end %>
    </ul>
  </dd>

  <dt>Studies</dt>
  <dd>
    <ul id="studies">
      <% @project.studies.each do |study| %>
        <li><%= study.name %></li>
      <% end %>
    </ul>
  </dd>

  <dt>Groups</dt>
  <dd>
    <ul id="groups">
      <% @project.groups.each do |group| %>
        <li><%= group.name %></li>
      <% end %>
    </ul>
  </dd>
</dl>
