<%= render partial: 'contour/layouts/per_page', locals: { type: 'assessment_results', per_page: 20 } %>

<table class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'assessment_results.assessment_id', 'Assessment', 'assessment_results_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'assessment_results.question_id', 'Question', 'assessment_results_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'assessment_results.answer', 'Answer', 'assessment_results_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'assessment_results.deleted', 'Deleted', 'assessment_results_search') %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @assessment_results.each do |assessment_result| %>
    <tr>
      <td><%= link_to assessment_result.assessment.name, assessment_result.assessment if assessment_result.assessment %></td>
      <td><%= link_to assessment_result.question.name, assessment_result.question if assessment_result.question %></td>
      <td><%= assessment_result.answer %></td>
      <td><%= assessment_result.deleted %></td>
      <td>
        <%= link_to 'Edit', edit_assessment_result_path(assessment_result), class: 'btn btn-xs' %>
        <%= link_to 'Delete', assessment_result, method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: "Are you sure you want to delete Assessment Result #{assessment_result.name}?" } %>
      </td>
    </tr>
  <% end %>
</table>

<div class="center"><%= paginate @assessment_results, theme: 'contour' %></div>
