<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_for @assessment_result, html: { class: 'form-horizontal', role: 'form' } do |f| %>
  <%= display_errors @assessment_result %>

  <div class="form-group">
    <%= f.label :assessment_id, nil, class: 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.select :assessment_id, [['---', nil]] + Assessment.current.collect{|a| [a.name, a.id]} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :question_id, nil, class: 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :question_id %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :answer, nil, class: 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_area :answer, rows: 7 %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :deleted, nil, class: 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.check_box :deleted %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>
