<% @title = "Assessment Result: #{@assessment_result.name}" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%= link_to "Edit Assessment Result", edit_assessment_result_path(@assessment_result), class: 'btn btn-mini' %>
    <%= link_to "Delete Assessment Result", @assessment_result, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Assessment Result #{@assessment_result.name}?" } %>
    <%= link_to "View Assessment Results", assessment_results_path, class: 'btn btn-mini' %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Assessment</dt>
  <dd><%= link_to @assessment_result.assessment.name, @assessment_result.assessment if @assessment_result.assessment %></dd>

  <dt>Question</dt>
  <dd><%= link_to @assessment_result.question.name, @assessment_result.question if @assessment_result.question %></dd>

  <dt>Answer</dt>
  <dd><%= simple_format @assessment_result.answer %></dd>

  <dt>Deleted</dt>
  <dd><%= @assessment_result.deleted %></dd>

</dl>
