<%= form_for(@reliability_id) do |f| %>
  <% if @reliability_id.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reliability_id.errors.count, "error") %> prohibited this reliability_id from being saved:</h2>

      <ul>
      <% @reliability_id.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :unique_id %><br />
    <%= f.text_field :unique_id %>
  </div>
  <div class="field">
    <%= f.label :study_id %><br />
    <%= f.number_field :study_id %>
  </div>
  <div class="field">
    <%= f.label :deleted %><br />
    <%= f.check_box :deleted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
