<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_for @rule, html: { class: 'form-horizontal' } do |f| %>
  <% if @rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rule.errors.count, "error") %> prohibited this rule from being saved:</h2>

      <ul>
      <% @rule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :procedure, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :procedure, rows: 7, style: 'width:95%' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :assessment_type, "Assessment Type", class: 'control-label' %>
    <div class="controls">
      <%= select_tag "rule[assessment_type]", options_for_select([['-Select Assessment-', nil]] + Assessment::TYPES.collect {|key, val| [val[:title], key] }, @rule.assessment_type), {id: :rule_assessment_type, rel: :chosen} %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>
