<div class="page-header">
  <h1><%= title %></h1>
</div>

<%= form_for @rule, html: { class: 'form-horizontal', role: 'form'  } do |f| %>
  <%= display_errors @rule %>
  <%= render :partial => "partials/project_field", :locals => {f: f, editable: @rule.new_record?, object_name: "rule", target_path: new_rule_path } %>

  <% if @rule.project.present? %>

    <div class="form-group">
      <%= f.label :title, nil, class: 'control-label col-sm-2' %>
      <div class="col-sm-10">
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :procedure, nil, class: 'control-label col-sm-2' %>
      <div class="col-sm-10">
        <%= f.text_area :procedure, rows: 7, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :assessment_type, "Assessment Type", class: 'control-label col-sm-2' %>
      <div class="col-sm-10">
        <%= select_tag "rule[assessment_type]", options_for_select([['-Select Assessment-', nil]] + Assessment::TYPES.collect {|key, val| [val[:title], key] }, @rule.assessment_type), {id: :rule_assessment_type, class: 'form-control', rel: :chosen} %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= cancel %>
    </div>
  <% end %>
<% end %>
