<% @title = "Rule: #{@rule.name}" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%= link_to "Edit Rule", edit_rule_path(@rule), class: 'btn btn-mini' %>
    <%= link_to "Delete Rule", @rule, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Rule #{@rule.name}?" } %>
    <%= link_to "View Rules", rules_path, class: 'btn btn-mini' %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Title</dt>
  <dd><%= @rule.title %></dd>

  <dt>Procedure</dt>
  <dd><%= simple_format @rule.procedure %></dd>

  <dt>Assessment Type</dt>
  <dd><%= @rule.assessment_type %></dd>
</dl>
