<%= render partial: 'contour/layouts/per_page', locals: { type: 'exercises', per_page: 20 } %>

<table id="exercise_table" class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'exercises.name', 'Name', 'exercises_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'exercises.rule.title', 'Rule', 'exercises_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'exercises.description', 'Description', 'exercises_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'exercises.assigned_at', 'Assigned At', 'exercises_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'exercises.completed', 'Completed?', 'exercises_search') %></th>
    </tr>
  </thead>

  <tbody>
    <% @exercises.each do |exercise| %>
    <tr>
      <td><%= link_to exercise.name, exercise if exercise %></td>
      <td><%= link_to exercise.rule.name, exercise.rule if exercise.rule %></td>
      <td><%= exercise.description %></td>
      <td><%= exercise.assigned_at %></td>
      <td><%= exercise.completed?(@user) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<center><%= paginate @exercises %></center>
