<table id="exercise_table" class="table table-striped table-bordered" style="width:100%">
  <caption>Assigned Exercises</caption>
  <thead>
    <tr>
      <th><%= sort_field_helper(params[:order], 'name', 'Name', 'exercises_search') %></th>
      <th><%= sort_field_helper(params[:order], 'rule.title', 'Rule', 'exercises_search') %></th>
      <th><%= sort_field_helper(params[:order], 'description', 'Description', 'exercises_search') %></th>
      <th><%= sort_field_helper(params[:order], 'assigned_at', 'Assigned', 'exercises_search') %></th>
      <th><%= sort_field_helper(params[:order], 'completion_status', 'Completion Status', 'exercises_search') %></th>
      <th><%= sort_field_helper(params[:order], 'completed', 'Completed?', 'exercises_search') %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @assigned_exercises.each do |exercise| %>
    <tr class="exercise" id="<%= exercise.id %>">
      <td><%= link_to exercise.name, show_assigned_exercise_path(exercise) if exercise %></td>
      <td><%= link_to exercise.rule.name, exercise.rule if exercise.rule %></td>
      <td><%= simple_format exercise.description %></td>
      <td><%= simple_time exercise.assigned_at %></td>
      <td class="status"><%= completed_percent(exercise, current_user) %></td>
      <td class="completed"><%= exercise.completed?(current_user) ? "yes" : "no" %></td>
      <td><%= link_to 'Score', show_assigned_exercise_path(exercise), class: 'btn btn-mini btn-primary' if exercise%></td>
    </tr>
    <% end %>
  </tbody>
</table>
