<table class="table table-striped table-bordered" style="width:100%">
  <caption>Managed Exercises</caption>
  <thead>
    <tr>
      <th><%= sort_field_helper(params[:order], 'name', 'Name', 'exercises_search') %></th>
      <th><%= sort_field_helper(params[:order], 'rule_id', 'Rule', 'exercises_search') %></th>
      <th><%= sort_field_helper(params[:order], 'assessment_type', 'Assessment Type', 'exercises_search') %></th>
      <th><%= sort_field_helper(params[:order], 'description', 'Description', 'exercises_search') %></th>
      <th><%= sort_field_helper(params[:order], 'assigned_at', 'Assigned', 'exercises_search') %></th>
      <th><%= sort_field_helper(params[:order], 'users.count', 'Assigned Scorers', 'exercises_search') %></th>
      <th>Completion Status</th>
      <th><%= sort_field_helper(params[:order], 'completed_at', 'Completed', 'exercises_search') %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @managed_exercises.each do |exercise| %>
    <tr class="exercise" id="<%= exercise.id %>">
      <td><%= link_to exercise.name, exercise %></td>
      <td><%= link_to exercise.rule.name, exercise.rule if exercise.rule %></td>
      <td><%= exercise.rule.assessment_type if exercise.rule %></td>
      <td><%= simple_format exercise.description %></td>
      <td><%= simple_time exercise.assigned_at %></td>
      <td><%= exercise.scorers.count %></td>
      <td class="status"><%= completed_percent(exercise) %></td>
      <td class="completed_at"><%= simple_time(exercise.completed_at) %></td>
      <td>
        <%= link_to 'Edit', edit_exercise_path(exercise), class: 'btn btn-mini' %>
        <%= link_to 'Download', download_zip_result_assets_path(exercise_id: exercise.id), class: 'btn btn-mini' %>
        <%= link_to 'Delete', exercise, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Exercise #{exercise.name}?" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>


