<div id="admin_view">
  <div class="row">
    <div id="main_info" class="col-md-6">
      <h3>Main Information</h3>
      <dl class="dl-horizontal">
        <dt>Project</dt>
        <dd><%= link_to @exercise.project.name, @exercise.project %></dd>

        <dt>Assigned</dt>
        <dd><%= simple_time @exercise.assigned_at %></dd>

        <dt>Completed</dt>
        <dd><%= simple_time @exercise.completed_at %></dd>

        <dt>Scoring Rule</dt>
        <dd><%= link_to @exercise.rule.name, "#", :rel => "popover", :data => {:title => "Rule #{@exercise.rule.name}", :content => @exercise.rule.procedure } if @exercise.rule %></dd>

        <dt>Description</dt>
        <dd><%= simple_format @exercise.description %></dd>
      </dl>
    </div>

    <div id="status" class="col-md-6">
      <div class="row">
        <h3 class="col-md-5">Completion Status</h3>
        <h3 class="col-md-1" id="completion_percent"><%= completed_percent(@exercise) %></h3>
      </div>

      <div id="finished_scorers" class="scorers">
        <h4>Finished Scorers</h4>
        <ul>
          <% @exercise.finished_scorers.each do |scorer| %>
            <li class="scorer"><%= link_to scorer.name, scorer %></li>
          <% end %>
        </ul>
      </div>

      <div id="pending_scorers" class="scorers">
        <h4>Pending Scorers</h4>
        <ul>
          <% @exercise.pending_scorers.each do |scorer| %>
            <li class="scorer"><%= "#{scorer.name}: #{@exercise.count_completed_results(scorer)}/#{@exercise.all_studies.length} results" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div id="results">
    <div class="row">
      <h3 class="col-md-10">Results</h3>
      <div class="col-md-2" id="download_all"><%= link_to 'Download All Attachments', download_zip_result_assets_path(exercise_id: @exercise.id), class: 'btn btn-xs' %></div>

    </div>

    <table class="table table-striped table-bordered dataTable">
      <thead>
      <tr>
        <th>Scorer</th>
        <th>Study</th>
        <th>Reliability/Study Id</th>
        <th>Result Location</th>
        <% Assessment::TYPES[@exercise.rule.assessment_type.to_sym][:questions].each do |q_id, q_hash| %>
          <th>
            Answer to
            <%= link_to "Question #{q_id}", '#', :rel => "popover", :data => {
                :title => "#{@exercise.rule.assessment_type.titleize} Question #{q_id}",
                :content => q_hash[:text],
                :placement => "top"
              }
            %>
          </th>
        <% end %>
        <th>Attachments</th>
      </tr>
      </thead>
      <tbody>
      <% @exercise.all_studies.each do |study| %>
        <tr>
          <td>*Original Result*</td>
          <td><%= link_to study.name, study %></td>
          <td><%= study.original_id %></td>
          <% if study.original_result(@exercise.rule) %>
            <td><%= study.original_result(@exercise.rule).location %></td>
            <% study.original_result(@exercise.rule).assessment.assessment_results.each do |a_r| %>
              <td><%= a_r.full_answer %></td>
            <% end %>
            <td><%= study.original_result(@exercise.rule).assets.length %> Attachments<%= link_to 'download', download_zip_result_assets_path(result_id: study.original_result(@exercise.rule).id), class: 'btn btn-xs' %></td>
          <% else %>
            <% (2 + Assessment::TYPES[@exercise.rule.assessment_type.to_sym][:questions].length).times do %>
              <td class="no_results">No Result Yet</td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      <% @exercise.reliability_ids.each do |r_id| %>
        <tr>
          <td><%= link_to r_id.user.name, r_id.user %></td>
          <td><%= link_to r_id.study.name, r_id.study %></td>
          <td><%= r_id.unique_id %></td>
          <% if r_id.result %>
            <td><%= r_id.result.location %></td>
            <% r_id.result.assessment.assessment_results.each do |a_r| %>
              <td><%= a_r.full_answer %></td>
            <% end %>
            <td><%= r_id.result.assets.length %> Attachments<%= link_to 'download', download_zip_result_assets_path(result_id: r_id.result.id), class: 'btn btn-xs' %></td>

        <% else %>
            <% (2 + Assessment::TYPES[@exercise.rule.assessment_type.to_sym][:questions].length).times do %>
              <td class="no_results">No Result Yet</td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
