<% @title = 'Exercises' %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%= link_to "Create Exercise", new_exercise_path, class: 'btn btn-mini btn-primary' %>
  </h1>
</div>



<div id="managed_exercises">
  <%= render :partial => "managed_exercises" %>
  <!--<center><%= image_tag "contour/ajax-loader.gif" %></center>-->
</div>

<div id="assigned_exercises">
  <%= render :partial => "assigned_exercises" %>
  <!--<center><%= image_tag "contour/ajax-loader.gif" %></center>-->
</div>
