<div class='row index-functionality'>
  <div class='col-md-3'>
    <%= form_tag path, method: :get, remote: true, id: "#{object}_search", class: 'form-search', data: { object: 'form-load' }, role: "search" do %>
        <%= hidden_field_tag :order, params[:order] %>
        <%= hidden_field_tag :per_page, params[:per_page] %>
        <%= hidden_field_tag :one_page, nil %>
        <div class="input-group">
          <%= text_field_tag 'search', params[:search], class: 'search-query form-control', placeholder: "Search" %>
          <div class='input-group-btn'>
            <%= link_to 'Search', "#", class: 'btn btn-default' %>
          </div>
        </div>
    <% end %>
  </div>

  <div class='col-md-4 col-md-offset-5'>
    <ul class="pagination pull-right">
      <li class="disabled"><a href="#">Per Page</a></li>
      <% [5,10,25,50,:all].each do |count| %>
          <li class="<%= 'active' if false %> per_page"><%= link_to count, "#", 'data-object' => object, 'data-per-page' => count, 'data-form' => "##{object}_search", id: "count_#{count}" %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="center" id="ajax_loader"><%= image_tag "contour/ajax-loader.gif" %></div>